**Pandas 01**

**Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame**

Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(pd.__version__)

1.3.5
1.3.5

**Persiapan Dataframe**

In [ ]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns = cols)
df

   A  B  C  D  E
0  9  4  1  4  9
1  6  8  7  4  8
2  7  4  2  3  2
3  5  5  4  5  7
4  6  1  5  5  8

**Menyertakan Prefix Kolom**

In [ ]:
df.add_prefix('kolom_') #prefix adalah menambahkan tambahan string didepan string yang dimaksud

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        4        1        4        9
1        6        8        7        4        8
2        7        4        2        3        2
3        5        5        4        5        7
4        6        1        5        5        8

In [ ]:
df.add_suffix('_field') #suffix adalah menambahkan tambahan string dibelakang string yang dimaksud

   A_field  B_field  C_field  D_field  E_field
0        9        4        1        4        9
1        6        8        7        4        8
2        7        4        2        3        2
3        5        5        4        5        7
4        6        1        5        5        8

**Pemilihan baris atau row selection pada data frame**

**Persiapan Data Frame**

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns = cols) #Jangkauan angka 1-10 dengan dimensi yang ditentukan oleh n_rows dan n_cols
df

   A  B  C  D  E
0  1  1  1  2  3
1  3  1  1  1  1
2  1  4  4  1  3
3  1  2  4  1  4
4  4  3  2  1  2
5  3  2  2  4  3
6  2  3  3  1  4
7  4  4  3  1  1
8  4  4  3  1  3
9  4  1  3  2  3

**Selection dengan operator logika |**

In [ ]:
df[(df['A']==1) | (df['A']==3)]

   A  B  C  D  E
0  1  1  1  2  3
1  3  1  1  1  1
2  1  4  4  1  3
3  1  2  4  1  4
5  3  2  2  4  3

**Selection dengan fungsi** isin()

In [ ]:
df[df['A'].isin([1, 3])]

   A  B  C  D  E
0  1  1  1  2  3
1  3  1  1  1  1
2  1  4  4  1  3
3  1  2  4  1  4
5  3  2  2  4  3

**Mengenal operator negasi ~**

In [ ]:
df[-df['A'].isin([1, 3])]

   A  B  C  D  E
4  4  3  2  1  2
6  2  3  3  1  4
7  4  4  3  1  1
8  4  4  3  1  3
9  4  1  3  2  3

**Konversi tipe data String ke integer pada kolom data frame**

**persiapan data frame**

In [ ]:
data = {'col1':['1', '2', '3', 'teks'],
        'col2':['1', '2', '3', '4']} 
        
        
df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [ ]:
df.dtypes

col1    object
col2    object
dtype: object

**Konversi menggunakan** astype()

In [ ]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [ ]:
df_x.dtypes

col1    object
col2     int64
dtype: object

**konversi tipe data numerik menggunakan fungsi** to_numeric()

In [ ]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

**Pemilihan kolom / colums selection pada data frame berdasarkan tipe datanya**

**persiapan data frame**

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float') #mengubah pecahan menjadi float menggunakan function astype()

df.index = pd.util.testing.makeDateIndex(n_rows, freq= 'H') #melakukan interval pada data selama 1 jam sekali
df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00          8.0          8    A
1 2000-01-01 01:00:00         15.0         12    B
2 2000-01-01 02:00:00          7.0         18    C
3 2000-01-01 03:00:00          7.0         19    D
4 2000-01-01 04:00:00          1.0         16    E

In [ ]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object

**memilih kolom bertipe data numerik**

In [ ]:
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0          8.0          8
1         15.0         12
2          7.0         18
3          7.0         19
4          1.0         16

In [ ]:
df.select_dtypes(include='float') #memanggil data dengan tipe data float

   bil_pecahan
0          8.0
1         15.0
2          7.0
3          7.0
4          1.0

In [ ]:
df.select_dtypes(include='int') #memanggil data dengan tipe data int

   bil_bulat
0          8
1         12
2         18
3         19
4         16

**Memilih kolom bertipe data string atau object**

In [ ]:
df.select_dtypes(include='object') #memanggil data dengan tipe object

  teks
0    A
1    B
2    C
3    D
4    E

**memilih kolom bertipe data datetime**

In [ ]:
df.select_dtypes(include='datetime') #memanggil data dengan tipe data date

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

**memilih kolom dengan kombinasi tipe data**

In [ ]:
df.select_dtypes(include=['number', 'object']) #memanggil data dengan tipe data gabungan antara numerik dan text/string

   bil_pecahan  bil_bulat teks
0          8.0          8    A
1         15.0         12    B
2          7.0         18    C
3          7.0         19    D
4          1.0         16    E