**Pandas 02**

**#05 Membalik Urutan Baris dan Kolom pada Data Frame**

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Dataframe

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
#mengacak nilai random bertipe int

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  6  3  2  4  4
1  9  9  4  9  6
2  7  5  8  5  7
3  9  5  1  4  7
4  9  7  8  5  3

Membalik Urutan Kolom

In [3]:
df.loc[:, ::-1] #[x,y], Pada X digunakan untuk mengatur baris dan pada Y digunakan untuk mengatur kolom

   E  D  C  B  A
0  4  4  2  3  6
1  6  9  4  9  9
2  7  5  8  5  7
3  7  4  1  5  9
4  3  5  8  7  9

Membalik Urutan Baris

In [4]:
df.loc[::-1] #[x,y], Pada X digunakan untuk mengatur baris dan pada Y digunakan untuk mengatur kolom

   A  B  C  D  E
4  9  7  8  5  3
3  9  5  1  4  7
2  7  5  8  5  7
1  9  9  4  9  6
0  6  3  2  4  4

Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

In [5]:
df.loc[::-1].reset_index(drop=True) #dengan reset_index() kita dapat membalik urutan index dengan angka 0 tetap diatas

   A  B  C  D  E
0  9  7  8  5  3
1  9  5  1  4  7
2  7  5  8  5  7
3  9  9  4  9  6
4  6  3  2  4  4

**#06 Mengganti Nama (label) Kolom pada Data Frame**

Import Modules

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
#mengacak nilai random bertipe int

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  8  1  3  5  9
1  7  2  3  9  5
2  5  3  8  6  1
3  2  6  7  7  7
4  8  5  4  4  2

Mengganti Nama (label) Untuk Sebuah Kolom pada Data Frame

In [8]:
df.rename(columns={'C':'Hobi'}) #kata C adalah target rename sedangkan Hobi adalah pengganti kata C

   A  B  Hobi  D  E
0  8  1     3  5  9
1  7  2     3  9  5
2  5  3     8  6  1
3  2  6     7  7  7
4  8  5     4  4  2

Mengganti Nama (label) Untuk Banyak Kolom pada Data Frame

In [9]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     8       1  3     5  9
1     7       2  3     9  5
2     5       3  8     6  1
3     2       6  7     7  7
4     8       5  4     4  2

**#07 Menghapus (drop) Missing Values (NaN) pada Data Frame**

Import Modules

In [10]:
import pandas as pd

print(pd.__version__)

1.3.5

Persiapan Data Frame

In [11]:
df = pd.util.testing.makeMissingDataframe().reset_index() #Dataframe ini mengandung missing value
df.head()

        index         A         B         C         D
0  XnTc2Og0ri -1.323201 -0.191534 -0.849158  0.559846
1  rQOqLS7oNO -0.522318 -0.588574 -0.779481  1.187107
2  9lBDxqRLWc  1.904298       NaN  0.813024 -0.391025
3  U3JIqcC0Cf  0.795756  1.126078  0.293142 -2.480451
4  X31LWHtYjY -0.030430 -0.170207 -0.482089 -1.781822

In [12]:
df = df.rename(columns={'index':'Z'}) #Melakukan rename index menjadi Z
df.head()

            Z         A         B         C         D
0  XnTc2Og0ri -1.323201 -0.191534 -0.849158  0.559846
1  rQOqLS7oNO -0.522318 -0.588574 -0.779481  1.187107
2  9lBDxqRLWc  1.904298       NaN  0.813024 -0.391025
3  U3JIqcC0Cf  0.795756  1.126078  0.293142 -2.480451
4  X31LWHtYjY -0.030430 -0.170207 -0.482089 -1.781822

In [13]:
df_backup = df.copy(deep=True) #melakukan copy/backup menggunakan copy()

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values

In [15]:
df = df.dropna(axis='columns') 
df.head()

            Z
0  XnTc2Og0ri
1  rQOqLS7oNO
2  9lBDxqRLWc
3  U3JIqcC0Cf
4  X31LWHtYjY

Menghapus (drop) Setiap Baris yang Mengandung Missing Values

In [17]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows') 
df.head()

            Z         A         B         C         D
0  XnTc2Og0ri -1.323201 -0.191534 -0.849158  0.559846
1  rQOqLS7oNO -0.522318 -0.588574 -0.779481  1.187107
3  U3JIqcC0Cf  0.795756  1.126078  0.293142 -2.480451
4  X31LWHtYjY -0.030430 -0.170207 -0.482089 -1.781822
5  BdUhLyDxDJ -1.509179  1.761048 -0.068110  0.613358

Persentase missing values untuk tiap kolom

In [18]:
df = df_backup.copy(deep=True)

df.isna().mean()*100
#isna() berguna untuk mengumpulkan missing value sedangkan mean() akan menghitung rata2 dari missing value

Z     0.000000
A    10.000000
B    13.333333
C     3.333333
D    13.333333
dtype: float64

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values Berdasarkan Threshold (ambang batas)

In [19]:
treshold = len(df) * 0.9 #limitasi threshold dapat dilakukan dengan function len()

df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         A         C
0  XnTc2Og0ri -1.323201 -0.849158
1  rQOqLS7oNO -0.522318 -0.779481
2  9lBDxqRLWc  1.904298  0.813024
3  U3JIqcC0Cf  0.795756  0.293142
4  X31LWHtYjY -0.030430 -0.482089

**#08 Memeriksa Kesamaan Antar Dua Buah Kolom (Series) pada Data Frame**

Import Modules

In [20]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [21]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}#kolom A dan B memiliki nilai yang sama

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series



*   Series adalah struktur data lain yang dimiliki pandas dengan objek 1-dimensi yang berisi sequence nilai dan berasosiasi dengan label data, yang disebut indeks.
*   Untuk membuat sebuah Series atau kolom, kita bisa membuatnya dari sebuah array dengan memanggil fungsi Series pada pandas.

In [22]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [23]:
type(df['A'])

pandas.core.series.Series

In [24]:
type(df)

pandas.core.frame.DataFrame

Memeriksa Kesamaan dengan Operator ==

In [25]:
df['A'] == df['B'] #Kelemahan operator == adalah pengecekan pada NotANumber/NaN kurang baik

0     True
1     True
2     True
3    False
4     True
dtype: bool

Memeriksa kesamaan dengan method equals()

In [26]:
df['A'].equals(df['B'])

True

Memeriksa Kesamaan Antar Dua Data Frame

In [27]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [28]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True